@use "../../sass/helpers/functions" as *;
// 1st assignment

// $num: 2;
$start: 100;
@for $i from 1 through 5 {
	.class-#{($start)} {
		width: $start;
		height: double($start);
	}
	$start: double($start);
}
// 2nd assignment
// SASS Code

.box {
	top: get-total(100, 50, 20);
	right: get-total(100, 50);
}
